@import url('//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic');

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}